#weekly_bookings {
display:flex;
width:100%;
justify-content: space-around;

}
body{
    background-color: #6DAEDB;
}
* {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
.day_bookings button {
    margin-top:15px;
    padding: 6px 14px;
    border-radius: 8px;
    border: 2px solid black;
}

.day_bookings button:hover {
    background-color:#CCCCCC;
    transition: 0.4s;;
    border: 3px solid black;
}

.day_bookings {
    background-color: #6DAEDB;
    text-align: center;
}

.header {
    padding: 10px;
    background-color: #1D70A2;
    color: #173753;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #1B4353;
    margin-top: 10px;
}